.container {
  position: relative;
}

.image {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 12px;
}

.btn_clear {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  right: 8px;
  top: 12px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    width: 15px;
    height: 15px;
  }

  .btn_clear {
    width: 18px;
    height: 18px;
  }

  .search {
    width: 200px;
    padding: 8px 12px 8px 36px;

    &:focus {
      width: 220px;
    }
  }
}

@media screen and (max-width: 880px) {
  .image {
    width: 22px;
    height: 22px;
  }

  .btn_clear {
    width: 25px;
    height: 25px;
  }

  .search {
    width: 350px;
    padding: 12px 20px 12px 42px;

    &:focus {
      width: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: 300px;
    padding: 12px 20px 12px 42px;

    &:focus {
      width: 350px;
    }
  }
}
